<div class="app-container">
  <mat-toolbar class="app-toolbar" color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" style="color: white;">Notes</a>
      <span class="menu-spacer"></span>
      <button mat-button routerLink="/login" *ngIf="!isAuth">
        Login
      </button>
      <button mat-button routerLink="/signup" *ngIf="!isAuth">Signup</button>
      <button mat-button *ngIf="isAuth" (click)="onLogout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#" mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill style="background-color: rebeccapurple;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
