<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login!</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginClicked()">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <button mat-raised-button color="primary">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
